@font-face {
    font-family: DM Sans;
    src: url('./../../fonts/DM_Sans/DMSans-Regular.ttf');
}


@media only screen and (min-width: 260px) and (max-width: 720px) {
    .cid-s48OLK6784 .navbar.navbar-short .navbar-logo img {
        height: 1em !important;
    }
    .contRes {
        padding-left: 1.7em;
        padding-right: 1.7em;
    }
    .cid-s48OLK6784 .dropdown-menu,
    .cid-s48OLK6784 .navbar.opened {
        background: #1C1F26 !important;
        padding-top: 4em;
        padding-bottom: 4em;
    }
    .text-black {
        color: #ffffff !important;
    }
    .item-bg {
        margin-bottom: 3em;
    }

    .mockBg {
        height: 40vh;
        background-position: center;
    }

    .searchWrap {
        width: 100%;
    }

    .contStack {
        width: 100%;
        margin: auto;
        padding-top: 0;
        padding-bottom: 0;
    }

    .textLeft {
        padding-top: 0em;
    }
    .textLeft h3, p {
        text-align: left;
    }
    .textLeft h3 {
        font-size: 12px;
        letter-spacing: 0.75px;
    }
    .textLeft p {
        font-size: 20px;
        margin-bottom: 0;
    }
    .textRight p {
        font-size: 12px;
        line-height: 25px;
        margin-bottom: 0;
        letter-spacing: -0.25px;
    }
    .feed {
        width: 100%;
        padding-right: 8em;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: -0.25px;
        color: #858585;
    }
    .workStyle {
        font-family: Vickey;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 50px;
        letter-spacing: -0.01em;
        color: #002314;
        margin-bottom: 1em !important;
    }
    .pStyle {
        width: 100%;
        font-family: DM Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 21px;
        letter-spacing: -0.25px;
        color: #858585;
        opacity: 0.8;
    }
    .scroll-down {
        width: 100px;
        height: 100px;
        top: -45px;
    }
    .textLeft {
        padding-left: 0;
    }

    .lineCurve1 {
        width: 50%;
        margin: auto;
        margin-left: 0px;
    }

    .workContent {
        margin: 0em 0em 0em 0em;
        padding-right: 0;
    }
    .workContent-grid {
        margin: 0em 0em 0em 0em;
        padding-right: 0em;
    }

    .edit li, a, h5 {
        text-align: left;
    }
    .cid-sqNrJQ83lt .social-row {
        display: -webkit-box;
        flex-wrap: wrap;
    }
    .edit span, p {
        word-break: break-word;
        font-family: DM Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: -0.25px;
        color: #858585;
    }

    .form-control {
        font-size: 12px;
        min-height: 40px;
    }
    .btnEdit {
        font-size: 12px;
        left: -10px;
    }
    .createBtn {
        background-color: #00D57C !important;
        border-color: #00D57C !important;
        color: #1C1F26 !important;
        border-radius: 10px;
        font-family: DM Sans;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: -0.75px;
        width: 50%;
    }
    .dwn {
        margin-bottom: 15px !important;
        margin-top: 15px;
        font-family: Vickey;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 35px;
        text-align: center;
        letter-spacing: -0.01em;
        color: #00D57C;
        width: 80%;
    }
    .lineCurve {
        width: 44%;
        margin-top: -8px;
    }
    .cid-s48udlf8KU {
        z-index: 999 !important;
    }
    .cid-s48udlf8KU {
        background-image: url('./../../images/mock-mobile.svg');
        background-size: contain;
        background-attachment: fixed;
        background-position: bottom;
    }
    .workCont {
        padding-left: 1.8em;
        padding-right: 1.8em;
    }
    .work-rw {
        padding-top: 1em;
        padding-bottom: 1em;
    }
    .work-rw img {
        display: block;
        width: 65%;
    }
    .work-rw h2 {
        font-size: 18px;
        margin-top: 0;
    }
    .work-rw h4 {
        font-size: 14px;
    }
    .cid-sqNrJQ83lt {
        padding-top: 3rem;
        padding-bottom: 1rem;
    }
    .cid-sqNrJQ83lt .soc-item {
        margin-top: 0;
    }
    .welcome-t {
        font-family: Vickey;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 136.8%;
        letter-spacing: -0.01em;
        color: #002314;
        padding-right: 4em;
    }
    .search-btm {
        width: 100%;
        margin: auto;
    }
    .cid-sqNAm61Huu {
        padding-bottom: 4rem;
    }
}

@media (max-width: 375px) {
    .welcome-t {
        font-family: Vickey;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 136.8%;
        letter-spacing: -0.01em;
        color: #002314;
        padding-right: 3em;
    }
}